header{
    position: sticky;
    font-family: "Segoe UI", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    padding: 10px 0;
    transition: ease-in-out all .5s;
    nav{
        display: flex;
        .item{
            margin: 0 10px;
            a{
                display: block;
                text-decoration: none;
                color: rgb(34,39,46);
                font-weight: 600;
                font-size: 16px;
                padding: 6px;
                transition: ease-in-out all .2s;
                border-radius: .25rem;
                &:hover{
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
.header_sticky{
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    animation: linear forwards fade-in-down .5s;
    background-color: rgb(255, 255, 255, .3);
    padding: 0;
    &:hover{
        background-color: rgb(255, 255, 255, .6);
        transition: linear all .15s;
        padding: 10px 0;
    }
    nav .item a{
    }
    nav a:hover{
        background-color: rgba(0, 0, 0, 0.05) !important;
        //box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
}
@keyframes fade-in-down {
    0%{
        opacity: 0;
    }
    1000%{
        opacity: 1;
    }
}
