.home-frame-2-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .frame-2-title{
        display: flex;
        justify-content: center;
        width: 100%;
        color: rgb(34,39,46);
        font-family: "Comic Sans MS", sans-serif;
        font-size: 42px;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        width: 100%;
        .card{
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: .5rem;
            padding: 16px 12px;
            border: 1px solid darkgrey;
            font-family: "Comic Sans MS", sans-serif;
            color: #2f2f2f;
            font-weight: 600;
            width: 290px;
            height: 415px;
            text-align: center;
            box-shadow: 0 0 3px dimgray;
            background-color: white;
            margin: 20px;
            transition: none;
            &:hover{
                box-shadow: 0 0 6px dimgray;
            }
            /*&:nth-child(1):hover .card-icon{color: #b7d3b6;}
            &:nth-child(2):hover .card-icon{color: #acb4d3;}
            &:nth-child(3):hover .card-icon{color: #d3a4a7;}
            &:nth-child(4):hover .card-icon{color: #d3d0a1;}*/
            &-title{
                position: relative;
                font-size: 24px;
                &:after{
                    content: '';
                    position: absolute;
                    display: block;
                    left: calc(50% - 20px);
                    bottom: -5px;
                    width: 40px;
                    height: 2px;
                    background-color: lightgrey;
                    border-radius: 2rem;
                }
            }
            &-icon{
                margin: 20px 0;
                font-size: 70px;
                color: lightgrey;
                transition: none;
            }
            &-description-1{

            }
            &-description-1, &-description-2{
                color: dimgray;
                font-weight: 500;
            }
            &-price{
                margin: 20px 0;
                font-size: 34px;
                font-weight: bold;
                em{
                    font-size: 22px;
                    font-weight: 400;
                }
            }
            &-button{
                margin-top: 20px;
                flex-basis: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                .btn{width: calc(100% - 80px);}
            }
        }
    }
}
