.home-frame-3-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 300px;
    text-align: center;
    h3{
        font-size: 3em;
        font-family: "Comic Sans MS", sans-serif;
        color: #2e2e2e;
    }
    .site-catalog{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 80%;
        min-width: 310px;
        //background-color: white;
        //padding: 2%;
        //border-radius: .2rem;
        //border: solid 1px lightgrey;
        .site-catalog__title{
            margin-top: 50px;
            font-size: 2em;
            display: flex;
            align-items: center;
            svg{
                color: lightgrey;
                margin-right: 5px;
            }
            p{
                a{
                    color: rgb(77, 123, 163);
                    text-decoration: none;
                    font-weight: 600;
                    &:hover{
                        color: rgb(45, 80, 92);
                    }
                }
            }
        }
        img{
            margin-top: 20px;
            width: 100%;
            max-width: 800px;
            border-radius: .2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .home-frame-3-wrapper{
        h3{
            font-size: 2em;
        }
        .site-catalog{
            margin-top: 20px;
            width: 90%;
            min-width: 310px;
            p{
                font-size: 1.8em;
            }
        }
    }
}
